@font-face {
  font-family: 'Peyda';
  src: url('style/fonts/peyda/peyda-semiBold.ttf') format('ttf');
  font-weight: normal;
  font-style:normal;
}

body {
  margin: 0;
  font-family: 'Peyda', sans-serif;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.image-section {
  width: 55%;
  height: 100%;
  flex-shrink: 0;
}

.image-section img {
  width: 100%;
  height: 100%;
  display: block;
}

.form-section {
  width: 45%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding: 80px 60px;
  background-color: #ffffff;
  gap: 15px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.tagline {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin: 20px 0 40px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  gap: 18px;
}

.login-form label {
  font-size: 14px;
  color: #333;
  text-align: right;
}

.login-form input {
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0 10px;
  text-align: right;
  font-size: 14px;
}

.login-form button {
  height: 44px;
  background-color: #234C6A;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  margin-top: 10px;
}
::placeholder {
  font-family: 'Peyda', sans-serif;
}
